/* ROLE
   Body styles are used for longer passages of text in your app. 
   Use typefaces intended for body styles, which are readable at
   smaller sizes and can be comfortably read in longer passages.

   Avoid expressive or decorative fonts for body text because
   these can be harder to read at small sizes.

   *Body styles must be readable for long passages.
   *Body style used throughout an article about pesto.
   *Example of body style used throughout a setup flow.
*/

// l
$body-l-lh: 24px;
$body-l-fs: 16px;
$body-l-w: 300;
// m
$body-m-fs: clamp(6px,5vw,1.2rem);
$body-m-lh: 1em;
$body-m-w: 300;
// s
$body-s-lh: 16px;
$body-s-fs: 12px;
$body-s-w: 300;

@mixin body {
   line-height: $body-m-lh;
   font-size: $body-m-fs;
   font-weight: $body-m-w;

}

.body {
   @include body;
}
