/* ROLE
   display styles are reserved for short, important 
   text or numerals. They work best on large screens.
   For display type, consider choosing a more expressive font, 
   such as a handwritten or script style. 

   If available, set the appropriate optical size to your usage. 

   *An expressive typeface can be used for display styles.
   *A card using a display size.
   *An expressive typeface can entice readers to engage-
   with an eye-catching design.
*/
@font-face {
   font-family: qatar22;
   src: url(../fonts/qatar22-bold.ttf);
}
// l
$display-l-fs: clamp(1.5rem, 7vw, 5rem);
$display-l-lh: 1.2em;
$display-l-w: 400;
// m
$display-m-fs: clamp(3rem, 7vw, 4rem);
$display-m-lh: 1.2em;
$display-m-w: 400;
// s
$display-s-fs: clamp(1.5rem, 3vw, 2rem);
$display-s-lh: 1.2em;
$display-s-w: 400;

.display {
   line-height: $display-m-lh;
   font-size: $display-m-fs;
   font-weight: $display-m-w;
}

@mixin display-s {
   line-height: $display-s-lh;
   font-size: $display-s-fs;
   font-weight: $display-s-w;
}

@mixin display {
   line-height: $display-m-lh;
   font-size: $display-m-fs;
   font-weight: $display-m-w;
}

@mixin display-l {
   line-height: $display-l-lh;
   font-size: $display-l-fs;
   font-weight: $display-l-w;

}


@mixin display-exp {
   font-family: qatar22;
   @include display-l;
}



.display-exp {
   @include display-exp;
}
