/* ROLE
   Headlines are best-suited for short, high-emphasis text on 
   smaller screens. These styles can be good for marking primary 
   passages of text or important regions of content.

   Headlines can also make use of expressive typefaces,
   provided that appropriate line height and letter spacing is
   also integrated to maintain readability.    

   *Expressive typefaces can be used for headlines styles as well.
   *Headline style used for short text on a small screen. 
   *Dialog using a headline style.
*/

// l
$headline-l-lh: 40px;
$headline-l-fs: 32px;
$headline-l-w: 400;
// m
$headline-m-fs: clamp(1.2rem, 5vw , 2rem);
$headline-m-lh: 1em;
$headline-m-w: 400;
// s
$headline-s-lh: 32px;
$headline-s-fs: 24px;
$headline-s-w: 400;

.headline {
   line-height: $headline-m-lh;
   font-size: $headline-m-fs;
   font-weight: $headline-m-w;
}

@mixin headline {
    line-height: $headline-m-lh;
    font-size: $headline-m-fs;
    font-weight: $headline-m-w;
 }
 
