/* ROLE
   Label styles are smaller, utilitarian styles, used for things
   like the text inside components or for very small text 
   in the content body, such as captions. 

   Buttons, for example, use the label large style.

   *Label styles should enable quick reading-
   at small sizes, such as in buttons.
   *A music player using label style for the timecode.
   *A navigation bar using label style for the destination text.
*/

// l
$label-l-lh: 40px;
$label-l-fs: 32px;
$label-l-w: 400;
// m
$label-m-lh: 36px;
$label-m-fs: 28px;
$label-m-w: 400;
// s
$label-s-lh: 32px;
$label-s-fs: clamp(8px, 4vw, 1rem);
$label-s-w: 400;

.label {
   line-height: $label-m-lh;
   font-size: $label-s-fs;
   font-weight: $label-m-w;
}

@mixin label {
   line-height: $label-m-lh;
   font-size: $label-m-fs;
   font-weight: $label-m-w;
}

label{
   @include label;
   &.-s{
      font-size: $label-s-fs;
   }
}

