.home {
   background-color: rgba(16, 18, 19, 0.342);
   display: flex;
   flex-direction: column;
   padding-bottom: 1em;
   @media only screen and (min-width: $tablet-breakpoint) {
      background-color: rgba(16, 18, 19, 0);
   }

   .balance-container {
      padding: 0 $layout-padding;
      @media only screen and (min-width: $wide-breakpoint) {
         padding: 0 $large-padding;
      }
      header {
         font-size: 1.5em;
         border-bottom: 1px rgba(141, 141, 141, 0.171) solid;
         line-height: 2.5em;
         margin-bottom: 16px;
      }
   }

   .moves {
      header {
         @media only screen and (min-width: $wide-breakpoint) {
            padding: 0 $large-padding;
         }
      }

      .move {
         @media only screen and (min-width: $wide-breakpoint) {
            padding: 0 $large-padding;
         }
      }
   }
}
