* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

html {
  // font-family: OpenSans, serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #f8f9fa;
}

// body {
//   margin: 0;
//   min-height: 100vh;
//   font-family:sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   overflow-x: hidden;
// }

canvas {
  width: 100% !important;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: inherit;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

input {
  font-family: inherit;
  text-align: inherit;
}

// MAC like scrollbar
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}

// @media only screen and (min-width: 1000px) {
//   $layout-padding: 15vw;
//   html{
//     color: red;
//     // padding:0 5vw;
//   }
//   body {
//     background-color: lightblue;
//   }
// }

// .btn{
//     background-color: $clr1;
//     border: none;
//     border-radius: 5px;
//     line-height: 2.2em;
//     padding: 0 10px;
//     color: rgb(233, 233, 233);
//     font-size: 1em;
//     transition: .2s;
//     &:hover{
//       background-color: $clr6;
//     }
// }

.active {
  color: $clr1;
}