.header {
   background-color: $clr2;
   margin: 0 auto;
   padding: 0 $layoutPadding;
   .tabs {
      width: 100%;
      display: flex;
      justify-content: space-around;
   }
   button {
      background-color: rgba(255, 255, 255, 0);
      border: none;
      color: white;


   }

   a{
      color: white;
      &.active{
         border-bottom: 1px red solid;
      }

      margin-bottom: .8rem;
   }
}
