.hero-container {
   display: flex;
   width: 100%;
   min-height: $heroHeight;
   // border: 1px rgba(0, 0, 0, 0.041) solid;
   margin: 5rem 0;

   @media only screen and (max-width: $break-small) {
      flex-direction: column-reverse;
      .template {
         header {
            text-align: center;
         }
      }
      .wc-logo {
         height: 30vw;
         img {
            margin: 0 auto;
            position: absolute;
            left: 0;
         }
      }
   }
}
