.wc-logo {
   width: 100%;
   // min-height: max(50px,50%);
   position: relative;
   display: flex;
   align-items: center;
   img {
      height: 100%;
      content: url(https://i.ibb.co/RhQLbZn/wc-logo.png);
      position: absolute;
      right: 0;
   }
}
