// Colors
$clr1: #a42947;
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #e6e9ec;
$clr6: #df963d;
$clr7: #9c1540;
$success: #01cc88;
$danger: #fc4953;
$banana: #ffcc72;
$orange: #ff8a00;
$blu: #4e62dd;

$primary:$clr1;
$secondary:#404aab;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 750px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1200px;

// Paddings
$layout-padding: 5vw;
$large-padding: 15vw;

// Heights 
$header-height: min(15vw,100px);
$navHeight: 65px;
$heroHeight:clamp(50px, 15vw, 300px);

// LAYOUT
$layoutPadding: min(10vw, 400px);
$normalPadding: 15vw;
$smallPadding: 7.5vw;
$galleryPadding: 9.5vw;
$headerHeight: 90px;
$layoutWide: 10em;

// LAYOUT BREAKPOINTS
$break-hero: 650px;
$break-mobile: 850px;
$break-tablet: 900px;
$break-laptop: 1360px;
$break-wide: 1920px;
