// __________________________________
// DISPLAY
// __________________________________
// l
$display-l-fs: clamp(1.5rem, 7vw, 5rem);
$display-l-lh: 1em;
$display-l-w: 400;
// m
$display-m-fs: clamp(1.5rem, 7vw, 3.5rem);
$display-m-lh: 1em;
$display-m-w: 400;
// s
$display-s-fs: clamp(1.5rem, 3vw, 2rem);
$display-s-lh: 44px;
$display-s-w: 400;
// __________________________________
// HEADLINE
// __________________________________
// l
$headline-l-lh: 40px;
$headline-l-fs: 32px;
$headline-l-w: 400;
// m
$headline-m-lh: 36px;
$headline-m-fs: 28px;
$headline-m-w: 400;
// s
$headline-s-lh: 32px;
$headline-s-fs: 24px;
$headline-s-w: 400;
// __________________________________
// TITLE
// __________________________________
// l
$title-l-lh: 28px;
$title-l-fs: 22px;
$title-l-w: 500;
// m
$title-m-lh: 24px;
$title-m-fs: 16px;
$title-m-w: 500;
// s
$title-s-lh: 20px;
$title-s-fs: 14px;
$title-s-w: 500;
// __________________________________
// LABEL
// __________________________________
// l
$label-l-lh: 20px;
$label-l-fs: 14px;
$label-l-w: 500;
// m
$label-m-lh: 16px;
$label-m-fs: 12px;
$label-m-w: 500;
// s
$label-s-lh: 16px;
$label-s-fs: 11px;
$label-s-w: 500;
// __________________________________
// BODY
// __________________________________
// l
$body-l-lh: 24px;
$body-l-fs: 16px;
$body-l-w: 400;
// m
$body-m-lh: 20px;
$body-m-fs: 14px;
$body-m-w: 400;
// s
$body-s-lh: 16px;
$body-s-fs: 12px;
$body-s-w: 400;

